[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
codecov = "*"
coverage = "*"
pytest-django = "*"
pytest-cov = "*"
codacy-coverage = "*"
pylint-django = "*"

[packages]
django = "==3.0.7"
gunicorn = "*"
django-heroku = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"
