{% extends 'base/base.html' %}
{%block head_title %} {{title}} {% endblock %}
{% block content %}
<h3>Welcome to Draggle Blog!</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent congue, mi vel mollis faucibus, ipsum tortor ornare
  odio, at imperdiet risus elit sed risus. Mauris vulputate rutrum aliquet. Duis scelerisque, arcu sit amet mollis
  maximus, arcu velit pharetra lacus, eget placerat urna tellus in erat. Nullam et felis tortor. Aliquam vehicula nunc
  ex,
  non placerat ipsum ullamcorper a. Nunc ornare erat urna, quis placerat diam ultricies in. Quisque eget mattis eros, at
  consectetur eros. Aliquam lobortis nunc magna, vitae ullamcorper arcu laoreet sed. Pellentesque porttitor justo sit
  amet
  ante pretium vulputate. Mauris tristique semper dui, eu suscipit massa egestas ac.</p>
<p>Nulla gravida, augue non pellentesque placerat, enim libero condimentum erat, non ornare massa turpis vitae ex. Proin
  lacus libero, cursus in dictum at, faucibus id lacus. Quisque ut iaculis ex, et pharetra ex. Proin a ultricies massa,
  quis viverra est. Curabitur felis nisi, malesuada eget aliquet eget, maximus a nisi. Fusce in odio enim. Vestibulum
  ante
  ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum ornare magna ornare egestas
  tristique. Phasellus a vehicula massa.</p>
<p>Duis ultrices pulvinar lectus, ut tincidunt lacus dignissim at. Phasellus at leo convallis, mollis lorem et,
  dignissim
  felis. Praesent condimentum tincidunt egestas. Vivamus suscipit malesuada scelerisque. Proin sed quam purus. Vivamus
  mi
  magna, pulvinar vel mauris tempor, placerat eleifend mi. Cras maximus sapien nec dui rhoncus accumsan. Suspendisse
  elementum justo justo, in venenatis elit aliquam at.</p>
<p>Suspendisse vestibulum luctus tortor quis posuere. Etiam sit amet justo vel velit vehicula maximus. Duis eros nisi,
  auctor ac sollicitudin non, egestas ultricies ipsum. Etiam auctor sodales varius. Vestibulum rutrum, magna nec
  sollicitudin accumsan, nunc enim aliquam magna, ut euismod erat leo sed velit. Sed dui felis, lobortis sit amet justo
  quis, sodales commodo nisl. Nam sit amet sagittis nibh. Maecenas mollis, ex et convallis pulvinar, orci est feugiat
  mi,
  ut scelerisque augue massa sed risus. In sit amet lacus bibendum, pellentesque nibh sagittis, aliquet lacus.</p>
<p>In molestie ligula sed facilisis dapibus. Sed vulputate ligula sed nulla vehicula, id dictum arcu malesuada. In
  pharetra
  velit quis ante interdum condimentum. Cras eu rhoncus elit. Sed a velit vitae arcu dapibus dictum. Integer turpis ex,
  facilisis vitae elit at, rhoncus bibendum urna. Phasellus tincidunt turpis id felis pulvinar, in dapibus urna
  pellentesque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut finibus
  lobortis massa, posuere molestie urna rhoncus id.</p>
{% endblock %}
