{% extends 'base/base.html' %}
{% block content %}
<section class="section">
  {% if request.user.is_authenticated %}
    {% if request.user.is_staff %}
      <a href="/blog/add_post/" class="waves-effect waves-light btn-large"><i class="material-icons right">add</i>Add
    Post</a>
    {% endif %}
  {% endif %}
  <div class="row">
    <div class="col s12">
      <h4>All posts</h4>
    </div>
    {% for post in post_list %}
      {% include 'blog_posts/list-item.html' with post=post %}
    {% endfor %}
  </div>
</section>
{% endblock %}
